.dashboard {
  h1 {
    text-align: center;
    color: rgb(87, 188, 162);
    font-weight: 600;
  }
  article {
    border-bottom: 2px solid rgb(87, 188, 162);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  button {
    margin-top: 1rem;
    margin-left: 0;
  }
  cite {
    font-style: italic;
    font-weight: 700;
  }
}
