.home {
  height: 91.35vh;
  background: url('/images/hero.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .img-box {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(87, 188, 162);
    border-radius: 50%;
    width: 17rem;
    height: 17rem;
    margin: 2rem;
  }
  h1 {
    font-size: 5rem;
    font-weight: 600;
    color: rgb(87, 188, 162);
    text-shadow: 4px 4px 6px black;
  }
}
