.blogs {
  h1 {
    color: orange;
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
  }
  .blog {
    border: 1px solid black;
    width: 100%;
    flex: 0 1 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    button {
      margin-top: 0.5rem;
    }
    cite {
      color: orange;
      font-style: italic;
      font-weight: 600;
    }
  }
  .addBlog {
    border: 1px solid black;
    width: 100%;
    flex: 0 1 100%;
    padding: 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    a {
      color: orange;
      font-size: 2rem;
    }
  }
}
